<section>
    <h1>Dit is jouw shirt!</h1>
    <p>Jouw gekozen tekst:{{text}}</p>
    <p>Jouw gekozen afbeelding: <img src="/images/{{image}}.png" alt="{{image}}"></p>
    <img src="/images/{{color}}.png" alt="een {{color}} shirt">

    <p>Sla onderstaande webadres op om jouw shirt in de toekomst te bekijken!</p>
    <p>{{url}}
    </p>
</section>